<ion-view title="Add a Story" id="page8" class=" ">
    <ion-content padding="true" style="background: url(img/RW8sMwR7SlbOmVsu5iHH_cagayan-de-oro-city-tour.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="addAStory-button9" class=" button button-positive  button-block icon ion-android-camera ">Choose a picture</button>
        <p id="addAStory-markdown6" style="color:#E7541A;" class=" ">Write about historical places...</p>
        <button id="addAStory-button10" style="font-size:10px;" class=" button button-positive  icon ion-android-cancel ">Delete</button>
        <button id="addAStory-button11" style="font-size:10px;border-radius:5px 5px 5px 5px;" class=" button button-calm  icon ion-android-checkbox ">Save</button>
    </ion-content>
</ion-view>