<ion-view title="Delete History" id="page10" class=" ">
    <ion-content padding="true" style="background: url(img/lkqkiHAMRYWslM3qF85E_cagayan-de-oro-city-tour.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="deleteHistory-form5" class="list ">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <p id="deleteHistory-markdown8" style="color:#45F11A;" class=" ">About the history.....</p>
        <button id="deleteHistory-button15" class=" button button-positive  button-block ">Delete this history?</button>
    </ion-content>
</ion-view>