<ion-view title="Edit History" id="page9" class=" ">
    <ion-content padding="true" style="background: url(img/vs681EmvRAYtgEWmD1ew_cagayan-de-oro-city-tour.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="editHistory-form4" class="list ">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="editHistory-button12" style="font-size:20px;border-radius:10px 10px 10px 10px;" class=" button button-positive  button-block icon ion-android-camera ">Choose picture</button>
        <p id="editHistory-markdown7" style="color:#79E722;" class=" ">About the history....</p>
        <button id="editHistory-button13" style="font-size:10px;" class=" button button-positive  icon ion-android-checkbox ">Save</button>
        <button id="editHistory-button14" style="font-size:10px;" class=" button button-positive  icon ion-android-cancel ">Cancel</button>
    </ion-content>
</ion-view>