<ion-view title="Historical Places" id="page6" class=" ">
    <ion-content padding="true" style="background: url(img/jBrcPGeQQGuJnKtW6hu2_cagayan-de-oro-city-tour.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="historicalPlaces-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <p id="historicalPlaces-markdown5" style="color:#1734C9;" class=" ">About the place</p>
    </ion-content>
</ion-view>