<ion-view title="Street History" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/fbP48XvCRcG9geM3OXYX_cagayan-de-oro-city-tour.jpg) no-repeat center;background-size:cover;" class="has-header">
        <p id="streetHistory2-markdown3" style="color:#0C1C8F;font-size:16px;text-align:center;" class=" ">Let's explore CDO streets and be knowledgeable and fascinated with it,s history</p>
        <button id="streetHistory2-button6" class=" button button-positive  button-block ">Historical Places</button>
        <button id="streetHistory2-button7" class=" button button-positive  button-block ">Options</button>
        <button id="streetHistory2-button8" class=" button button-positive  button-block ">About Me</button>
    </ion-content>
</ion-view>